<div class="container">
  <h1 class="text-center my-4 text-white">Contact us if you have any questions!</h1>
  <div class="form-floating form d-flex justify-content-center align-items-center">
    <textarea class="form-control tx-area" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
    <label for="floatingTextarea2" class="comments">Comments</label>
  </div>
  <div class="inputBox text-center mt-2">
    <input type="submit" value="Send">
  </div>
  <!-- <div id="container" class="position-absolute top-50 start-50 translate-middle d-flex justify-content-center align-items-center">
    <div class="form position-relative w-100 h-100" style="padding: 40px;">
      <h2>Sign in</h2>
      <form action="">
        <div class="inputBox">
          <input type="t" name="" id="" placeholder="Username">
        </div>
        <div class="inputBox">
          <input type="password" name="" id="" placeholder="Password">
        </div>
        <div class="inputBox">
          <input type="submit" value="Sign-in">
        </div>
        <p class="forget">Forgot Password? <a href="#">Click Here</a></p>
        <p class="forget">Don't have an account? <a href="#">Sign up</a></p>
      </form>
    </div>
  </div> -->
</div>