<div class="box container">
  <div
    id="container"
    class="position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-center align-items-center"
  >
    <h2>
      Welcome to the forefront of healthcare evolution: <br> Medical Innovations with
      Three-Dimensional Printing!
    </h2>
    <p>
      Explore the cutting-edge intersection of medicine and technology as we
      delve into the transformative power of 3D printing in healthcare. From
      personalized prosthetics to intricate organ models for surgical planning,
      our platform is your gateway to the future of medical treatment. Join us
      on this groundbreaking journey towards enhanced patient care and
      revolutionary advancements in the field. <br> Are you ready to witness the dawn of a new era in healthcare?
    </p>
  </div>
</div>
